html, body{
 margin:0;
}

#grid{
  padding: 2%;
  position:absolute;
  top:50%;
  left:50%;
  width:50vh;
  height:50vh;
  margin-top:-25vh; /* this is half the height of your div*/
  margin-left:-25vh;
  background-color: #bbada0;
}

#grid div{
  float: left;
  height: 23%;
  margin: 1%;
  width: 23%;
  background-color: #cdc1b4;
  border-radius: 4%;
}
