html, body{
 margin:0;
 font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
 color: #776e65;
 background-color: #faf8ef;
}

#grid{
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  width:500px;
  height:500px;
  background-color: #bbada0;
  margin-top: 50px;
}

.tile{
  position:absolute;
  z-index: 0;
  text-align: center;
  font-weight: bold;
  line-height: 200%;
}

.control-button{
  color:white;
  display: inline-block;
  height: 50px;
  padding: 0 15px;
  text-align: center;
  line-height: 50px;;
  background-color: #8f7a66;
  border-radius: 3px;
  font-weight: bold;
  margin: 0 20px;
}

.elem, .tile{
  float: left;
  margin: 1%;
  width: 23%;
  height:23%;
  border-radius: 4%;
}

.tile-grid{
  position:relative;
  width: 100%;
  height: 100%
}

.elem{
  background-color: #cdc1b4;
  z-index:0;

}




#container{
  width: 500px;
  margin: 0 auto;
}

.title{
  font-size: 80px;
}

.netcon{
  float:left;

}
.val-2, .val-4, .val-8, .val-16, .val-32, .val-64{
  font-size: 55px;
}

.val-128, .val-256, .val-512{
  font-size: 45px;
}
